---
import hauptNavigation from "../../_data/hauptnavigation.json";

const mainNavigation = hauptNavigation.Navigationspunkte.map((item) => {
  if (item.__component === "navigation.seiten") {
    return {
      ...item,
      Seiten: item.Seiten.filter((s) => "Permalink" in s.Seite),
    };
  }
  return item;
}).filter((item) => {
  if (item.__component === "navigation.seite") {
    return "Permalink" in item.Seite;
  } else if (item.__component === "navigation.seiten") {
    return item.Seiten.length > 0;
  }
  return true;
});
---

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="/images/logo.png"
          width="187"
          height="182"
          class="ea-brand-logo mr-2"
        />
        <h1 class="title is-4 has-text-white">Eagles Line Dancers</h1>
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarMain"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-start">
        {
          mainNavigation.map((item) => {
            if (item.__component === "navigation.startseite") {
              return (
                <a class="navbar-item" href="/">
                  {item.Beschriftung}
                </a>
              );
            } else if (item.__component === "navigation.seiten") {
              return (
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">{item.Beschriftung}</a>
                  <div class="navbar-dropdown">
                    {item.Seiten.map((subItem) => {
                      return (
                        <a
                          class="navbar-item"
                          href={`/${subItem.Seite.Permalink}/`}
                        >
                          {subItem.Beschriftung}
                        </a>
                      );
                    })}
                  </div>
                </div>
              );
            } else if (item.__component === "navigation.seite") {
              return (
                <a class="navbar-item" href={`/${item.Seite.Permalink}/`}>
                  {item.Beschriftung}
                </a>
              );
            }
            return null;
          })
        }
      </div>
    </div>
  </div>
</nav>

<script>
  "use strict";

  document.addEventListener("DOMContentLoaded", () => {
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0,
    );
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }

    const $navbarDropdowns = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-item.has-dropdown"),
      0,
    );
    if ($navbarDropdowns.length > 0) {
      $navbarDropdowns.forEach((el) => {
        el.addEventListener("click", (event) => {
          event.stopPropagation();
          $navbarDropdowns.forEach((e) => {
            e.classList.remove("is-active");
          });
          el.classList.toggle("is-active");
        });
      });
    }
    const $body = document.querySelector("body");
    $body.addEventListener("click", () => {
      $navbarDropdowns.forEach((e) => {
        e.classList.remove("is-active");
      });
    });
  });
</script>
